
<div class="parentTopBar">
    <div class="subTopLeft">
        <div><img src={{NavBarListItems.leftNavComponentImg[0]}} class="arrownav" alt=""></div>
        <div><img src={{NavBarListItems.leftNavComponentImg[1]}} class="arrownav" alt=""></div>
    </div>
    <div class="subTopRight">
        <div class = "TopRightBtn">
            <button class="subTopRight-btn">{{NavBarListItems.rightNavPrimaryBtn}}</button>
            <button class="subTopRight-btn">{{NavBarListItems.rightNavSecondaryBtn}}</button>
            <button class="Signup-btn" ><a class="loginlink"  routerLink="createMusic">Add Music</a></button>
            
            <div class="logbar">
                <button class="Login-btn"><a class="loginlink"  routerLink="loginpage">logIn</a></button>
                <button class="Signup-btn" ><a class="loginlink"  routerLink="signuppage">Sign Up</a></button>
            </div>
        </div>
        <div></div>
    </div>
</div>