
<div class="parentTopBar">
    <div class="subTopLeft">
        <div><img src={{NavBarListItems.leftNavComponentImg[0]}} class="arrownav" alt=""></div>
        <div><img src={{NavBarListItems.leftNavComponentImg[1]}} class="arrownav" alt=""></div>
    </div>
    <div class="subTopRight">
        <div>
            <button class="subTopRight-btn">{{NavBarListItems.rightNavPrimaryBtn}}</button>
            <button class="subTopRight-btn">{{NavBarListItems.rightNavSecondaryBtn}}</button>
        </div>
        <div></div>
    </div>
</div>