.grid-container{
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding:5px;
    gap:30px;
    .music-body{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        border: 2px solid black;
        border-radius: 50px;
        box-sizing: border-box;
        &:hover{
            border: 4px solid red;
        }
        &__image{
            margin-bottom: -52px;
            .music-image{
                padding: 10px;
                box-sizing: border-box;
                max-width: 100%;
                height: auto;
                border-radius: 50px;

            }
            .play-button{
                display:block;
                width: 50px;
                height: auto;
                position: relative;
                cursor: pointer;
                left: 76%;
                bottom:22%;
                transition: transform 0.5s;
                &:hover{
                    transform: scale(1.15);
                }
            }
            
        }
        &__content{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}