<div class="add-music-container">
    <button class="add-music-container__add-music" (click)="onSubmit()">Add music</button>
</div>
<div class="grid-container" [style.min-height]="musicList.length===0?'500px' : '0px'">
    <ng-container *ngFor="let music of musicList">
        <div class="music-body">
            <div class="music-body__image">
                <img class="music-image" src="{{music.imageUrl}}"  alt="no image">
                <img class="play-button" src="https://www.transparentpng.com/thumb/play-button/nHKpsQ-play-button-png.png" alt="play button">
            </div>
            <div class="music-body__content">
                {{music.albumName | titlecase}}
                <br>
                {{music.authorName | titlecase}}
                <br>
                {{music.category | titlecase}}
            </div>
            <div class="music-body__footer">
                <button class="music-edit" (click)="edit(music.id)">Edit</button>
            </div>
            
        </div>
        
    </ng-container>
</div>

