<div class="footer">
    <div class="footer-links">
        <div class="footer-links__pages">
            <app-footer-container-company></app-footer-container-company>
            <app-footer-container-communities></app-footer-container-communities>
            <app-footer-container-usefullinks></app-footer-container-usefullinks>
        </div>
        <div class="footer-links__social">
            <app-footer-container-socialmedia></app-footer-container-socialmedia>
        </div>
    </div>
    <hr class="footer-line">
    <div class="footer-credit">
        <p>© 2023 Spotify AB</p>
    </div>


</div>