<div class="add-music-container">
    <h1>{{title}}</h1>
    <form [formGroup]="musicProduct"  (ngSubmit)="onSubmit()">
        <div class="validation-error" *ngIf="!musicProduct.valid && musicProduct.touched">Enter all fields</div>
        <div class="add-music-container__forms">
            <div>
                <div class="inline-setting">
                    <label for="albumName">Album name :</label>
                    <div class="validation-error" *ngIf="musicProduct.controls['albumName'].hasError('required') && musicProduct.controls['albumName'].touched">Required</div>
                </div>
                <input type="text" name="albumName" formControlName="albumName" id="albumName"/>
            </div>

            <div>
                <div class="inline-setting">
                    <label for="authorName">Author name :</label>
                    <div class="validation-error" *ngIf="authorNameCheck.hasError('required') && authorNameCheck.touched">Required</div>
                </div>
                <input type="text" name="authorName" formControlName="authorName" id="authorName"/>
            </div>
            
            <div>
                <div class="inline-setting">
                    <label for="category">Category :</label>
                    <div class="validation-error" *ngIf="categoryCheck.hasError('required') && categoryCheck.touched" >Required</div>
                </div>
                <input type="text" name="category"  formControlName="category"   id="category"/>
            </div>

            <div>
                <div class="inline-setting">
                    <label for="imageUrl">Image Url :</label>
                    <div class="validation-error" *ngIf="imageUrlCheck.hasError('required') && imageUrlCheck.touched" >Required</div>
                </div>
                <input type="text" name="imageUrl" formControlName="imageUrl"  id="imageUrl"/>
            </div>
        </div>
        <div class="add-music-container__buttons">
            <button class="add-music-container__buttons-submit" type="submit">Submit</button>
            <button class="add-music-container__buttons-reset" type="button" (click)="reset()">Reset</button>
            <button class="add-music-container__buttons-visit" type="button" (click)="onVisit()">Visit Home Page</button>
        </div> 
    </form>
</div>
